/* Card Styles */
.card {
  max-width: 180px;
  border: 10px solid #73c1c4; 
  background-color: #3b7586; 
  border-radius: 12px; 
  overflow: hidden; 
  transition: all 0.3s ease; 
}

.card img {
  max-width: 100%;
  object-fit: contain; 
  border-radius: 8px; 
}


.card:hover {
  border: 10px solid #087c6d;
  background-color: #02484d; 
  transform: translateY(-5px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.card:focus-within {
  outline: 2px solid #ffab00;
  outline-offset: 4px;
}
