.Main {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}

.Main .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.Main .container .outlet {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background: #1f1f1f;
  color: #d3d3d3;
  border-radius: 0 0 10px 10px;
}

.Main .container .navigation {
  height: 80px;
  background-color: #1c1f23;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
}

.Main .container .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Main .container .navigation ul li {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #61dafb;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.Main .container .navigation ul li a {
  text-decoration: none;
  color: inherit;
}

.Main .container .navigation ul li.active a,
.Main .container .navigation ul li:hover a {
  text-decoration: none;
  color: #559dce;
}

.Main .container .navigation ul li.active,
.Main .container .navigation ul li:hover {
  background: #122547;
  transform: translateY(-2px);
}

.Main .container .navigation ul li.logout,
.Main .container .navigation ul li.login {
  cursor: pointer;
  justify-self: end;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: #2bd4cc;
  color: #121212;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.Main .container .navigation ul li.logout:hover,
.Main .container .navigation ul li.login:hover {
  background-color: #173e86;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .Main .container .navigation {
    padding: 0 20px;
  }

  .Main .container .navigation ul li {
    padding: 0 15px;
    font-size: 14px;
  }
}

.Main .container .outlet {
  scrollbar-width: thin;
  scrollbar-color: #5cbecff5 #121212;
}

.Main .container .outlet::-webkit-scrollbar {
  width: 8px;
}

.Main .container .outlet::-webkit-scrollbar-thumb {
  background-color: #23719e;
  border-radius: 5px;
}

.Main .container .outlet::-webkit-scrollbar-track {
  background-color: #121212;
}
